.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  width: 922px;
  margin: auto;
}

.tasks {
  width: 656px;
  background-color: white;
  margin-left: 266px;
  padding: 80px 40px 84px 40px;
  vertical-align: top;
  border-right: $generic-border;
  height: calc(100vh);

  @include mq('900px'){
    margin-left: 0;
    width: auto;
  }

  h2{
    font-size: 26px;
    font-weight: normal;
    margin: 0 30px 20px 0;
  }

  .add-task {
    margin-top: 20px;
  }

  &__list li{
    display: flex;
    line-height: 18px;
    padding-top: 10px;
    font-size: 18px;
    padding-bottom: 10px;
    color: $generic-bg;
    border-bottom: 1px solid #f0f0f0;

    .checkbox-holder{
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 16px;
    }
    .checkbox{
      cursor: pointer;
      border-color: gray;
      color: #343434;
      height: 16px;
      width: 16px;
      display: block;
      border: 1px solid gray;
      border-radius: 16px;
    }
  }
}